body {
    background-color: #e9e3e3;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: #646464;
}

h1 {
    display: block;
    text-align: center;
    font-family: 'Pacifico', cursive;
    color: #b50965;
    font-size: 36px;
    margin-top: 20px;
    margin-bottom: 0;
    letter-spacing: 4px;
    text-decoration: none;
}

h2 {
    text-align: center;
}

.summaryP {
    padding: 0;
    text-align: left;
    height: fit-content;
}
.card {
    width: 75%;
    margin: 10px auto;
    box-shadow: 0px 0px 10px #00000033;
    border-radius: 6px;
    text-align: center;
}

.card .card-image img {
    margin: 12px auto;
    height: 162px;
    width: 105px;
}

#search-field {
    max-width: 75%;
    margin: 10px auto;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0px 0px 10px #00000033;
    border-radius: 6px;
}


p {
    white-space: pre-wrap;
    overflow: visible;
    text-align: left;
    font-weight: 300;
}

.titleP,
.authorP,
.publisherP {
    padding-left: 35%;
}

.summaryP {
    font-size: 16px;
    margin: 5px 0;
}

.titleP:hover,
.authorP:hover,
.publisherP:hover {
    font-weight: 700;
}


.material-icons {
    font-size: 33px;
    line-height: 36px;
    white-space: normal;
    display: block;
    color: #b50965;
    
    /* text-align: center; */
}

.material-icons:hover {
    /* color: blue; */
    font-size: 36px;
    font-weight: 700;
    cursor: pointer;
}

.material-icons:revealed {
    color: blue;
}

.card .card-content {
    padding: 0;
    border-radius: 0 0 2px 2px;
}

h3 {
    font-size: 24px;
    padding: 0;
    margin: 0;
}


.card .card-reveal {
    padding: 0 24px;
    position: absolute;
    background-color: #fff;
    width: 100%;
    overflow-y: auto;
    left: 0;
    top: 100%;
    /* height: 100%; */
    z-index: 3;
    display: none;
}

.card-reveal.revealed {
    display: block;

}

.card-reveal.revealed>.material-icons {
    color: greenyellow;
}