.gallery {
    margin-top: 10%;
    margin-bottom: 3%;
    display: flex;
    flex-direction: column;
  }
  
  .row {
    margin-top: 2%;
    margin-bottom: 2%;
    background-color: #e6f4ff;
    padding-top: 2%;
    padding-bottom: 2%;
  }
  
  .portrait-gallery {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .input-row {
    margin-bottom: 10pt
}

  .my-form {
    display: flex;
    flex-direction: column;
  }
  
  .portrait-gallery > img {
    border-radius: 25px;
  }